# ป้องกันโฟลเดอร์ไลบรารี (หนักมาก ไม่ต้องเอาขึ้น)
node_modules/
frontend/node_modules/
backend/node_modules/

# ป้องกันไฟล์ความลับ (รหัสผ่านฐานข้อมูล)
.env
backend/.env

# ป้องกันไฟล์ที่ได้จากการ Build
dist/
frontend/dist/

# ไฟล์ขยะของระบบ
.DS_Store
Thumbs.db